*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f1eb;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    padding-top: 3rem;
}

/* navbar stylinng  */
nav{
    background-color: white;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#Search{
    display: none;
}
nav>img{
    margin-left: 3rem;
}
nav>input{
    width: 20rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    padding-left: 10px; 
}
nav>ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 15rem;
    font-size: large;
    color: #666;
}
nav span{
    display: block;
    font-size: small;
    
}

ul img:nth-of-type(1){
    border-radius: 1rem;
}
nav ul :hover{
    color: black;
}
/* all boxes  */
div{
   background-color: white;
    height: 8rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
main {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;  
}
.side{
    width: 18.8%;
    position: sticky;
    top: 4rem;  
    height: fit-content;
} 
.centre{
    width: 40%;
}
.corner{
    width: 16%;
    position: sticky;
}
/* box 1 styling */
.box1{
    height: 13rem;
}
.box1 img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.side img:nth-of-type(2){
    border-radius: 50%;
    border: 3px solid white;
    margin-top: -2rem;
    margin-left: 1.2rem;
}
.box1 h2{
    font-weight: 500;
    font-size: 20px;
    margin-top: -0rem;
    margin-left: 1rem;
}
.box1>p{
    font-size: small;
    opacity: 0.8;
    margin-left: 1rem;
}
.box1 p:nth-of-type(2){
    opacity: 0.6;
}
.box1 img:nth-of-type(3){
    margin-left: 1rem;
}
.box1>h6{
    margin-top: -1.6rem;
    margin-left: 2.8rem;
    font-weight: 600;
    font-size: 0.7rem;
}
/* box two styling */
.box2{
    height: 5rem;
}
.box2 p {
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: small;
    font-weight: 500;
}
.box2 p:nth-of-type(3){
    color:#0a66c2;
    margin: -4rem;
    margin-left: 12rem;
}
.box2 p:nth-of-type(4){
     color:#0a66c2;
    margin: 4rem;
    margin-left: 12rem;
}
/* box 3 styling */
.box3{
    height: 5rem;
    padding: 0.5rem; 
}
.box3 p:nth-of-type(1){
    font-size: small;
    margin-left: 1rem;
    opacity: 0.6;
    text-decoration: underline;
}
.box3 p:nth-of-type(2){
    font-size: small;
    margin-left: 1rem;
    text-decoration: underline;
    font-weight: 500;
}
/* box 4 styling  */
.box4{
    height: 10rem;
}
.box4 ul{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-left: 1rem;
    padding: 1rem;
    font-size: small;
}
.box4 ol{
    display: flex;
    flex-direction: column;
    margin: -8.4rem;
    margin-left: 3.5rem;
    gap: 1rem;
    font-size: small;
    font-weight: 500
}
/* box 5 styling  */
.box5{
    height: 7.5rem;
}
.box5 img{
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}
.box5 input{
    width: 30rem;
    height: 3rem;
    border-radius: 2rem;
    margin-left: 1rem;
    padding: 1rem;
    position: relative;
    top: -1.3rem;
    left: -.51rem;
}
#list1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -0.5rem;
}
#vid,#pic,#wrt{
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}
#list1 li:nth-of-type(1){
    display:flex;
     align-items:center; 
     gap:5px; 
     cursor:pointer; 
     color:#2a7a35;
} 

#list1 li:nth-of-type(2){
    display:flex;
     align-items:center; 
     gap:5px; 
     cursor:pointer; 
     color:#0a66c2;
}
#list1 li:nth-of-type(3){
    display:flex;
     align-items:center; 
     gap:5px; 
     cursor:pointer; 
     color:#c47a2c;
}

/* Hr styling  */
hr{
    width: 25rem;
    margin-top: -0.5rem;
}
#text{
    font-size: small;
    margin-left: 26rem;
    opacity: 0.7;
}
#Top{
    font-size: small;
    font-weight: 500;
}
/* box six styling  */
.box6 {
    height: 58rem; 
}

/* Skillected logo */
#slogo {
    font-weight: 500;
    padding: 3.4rem;
    position: relative;
    top: 0.7rem;
}

/* Profile image */
.box6 > div img {
    margin-left: 0.2rem;
    margin-top: -2rem;  
}

/* Followers text */
.box6 p:nth-of-type(1) {
    opacity: 0.5;
    font-size: small;
    margin-top: -9.8rem;
    padding-left: 3.4rem;
}

/* Post time text */
.box6 p:nth-of-type(2) {
    opacity: 0.5;
    font-size: small;
    padding-left: 3.4rem;
}

/* Post image */
#bhaidooj {
    margin-left: 0rem;
}

/* Post caption text */
#post1 {
    text-align: left;        
    margin: 1rem;           
    font-size: 0.95rem;      
    line-height: 1.5;        
}

/* Icons size */
.box6 i {
    font-size: 18px;
    padding: 1rem;
}

/* Reaction icons */
#like, #comment, #repost, #send {
    width: 1rem;
}

/* Reaction bar (horizontal layout) */
.box6 ul {
    display: flex;
    gap: 6rem;
    padding: 1.5rem;
}

/* Divider line */


/* "+Follow" text */
.box6 span:nth-of-type(2) {
    color: #0a66c2;
    font-weight: 500;
    margin-left: 26.5rem;
    position: relative;
    top: 0rem;
    cursor: pointer;
}
.box6 hr {
    width: 30rem;
    margin-top: -3.5rem;
    left: 1rem;
    opacity: 0.6;
}
#posticon1{
   display: flex;
    gap: 4rem;
    margin-top: -1rem;
    margin-left: 0rem;
}













/* box 7 styling */
.box7 {
    height: 40rem;
}

/* Reposter image */
.box7 img:first-of-type {
    margin-left: 1.5rem;
    margin-top: 0.2rem;
    border-radius: 50%;
}

/* Reposter name */
.box7 p:nth-of-type(1) {
    font-weight: 500;
    font-size: small;
    margin-top: -2rem;
    margin-left: 4rem;
}

/* "Reposted this" text */
.box7 p:nth-of-type(2) {
    font-size: 11px;
    opacity: 0.7;
    margin-top: -1rem;
    margin-left: 10.8rem;
}

/* HR Line */
.box7 hr:first-of-type {
    width: 30rem;
    opacity: 0.6;
    margin-top: 1rem;
    margin-left: 1rem;
}

 /* my logo image */
#ganesh_logo{
margin-left: 0.5rem;
margin-top: 0.5rem;
}
/* my name*/
.box7 p:nth-of-type(3) {
    font-weight: 500;
    margin-top: -3.5rem;
    margin-left: 4rem;
}
/* name profession */
.box7 p:nth-of-type(4) {
    opacity: 0.7;
    font-size: small;
    margin-left: 4rem;
}
/* month */
.box7 p:nth-of-type(5) {
    opacity: 0.7;
    font-size: small;
    margin-left: 4rem;
}
/* Follow button */
#followbtn {
    color: #0a66c2;
    font-weight: 500;
    margin-left: 26.5rem;  /* same position as box6 */
    position: relative;
    top: -3rem;
    cursor: pointer;
}
/* Post caption */
#post2{
    margin-top: 0rem;
    margin-left: 1rem;
}
/* Post image */
.box7 img[alt="certificate"] {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}
.box7 hr{
    margin-top: -2rem;
    margin-left: 1rem;
    width: 30rem;
    opacity: 0.6;
}
#posticon2{
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    margin-top: 2rem;
}












.box8{
    height: 49rem;
}

#deloitte_logo{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.box8 p:nth-of-type(1){
    font-weight: 500;
    margin-top: -3rem;
    margin-left: 4rem;
}
.box8 p:nth-of-type(2){
   opacity: 0.6;
   font-size: small;
   margin-left: 4rem;
}
.box8 p:nth-of-type(3){
   opacity: 0.6;
   font-size: small;
   margin-left: 4rem;
}
#follow8 {
    color: #0a66c2;
    font-weight: 500;
    margin-left: 26.5rem;  /* same position as box6 */
    position: relative;
    top: -3rem;
    cursor: pointer;}
    
#post3{
    margin-top: -0.2rem;
    margin-left: 1rem;  
}
#deloitte_post_image{
        margin-left: 0rem;
margin-top: 1.5rem;
}
.box8 hr{
    margin-top: -2rem;
    margin-left: 1rem;
    width: 30rem;
    opacity: 0.6;
}
#posticon3{
    display: flex;
    gap: 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
}








/* box 9 styling  */
#nine{
    width: 18rem;
    height: 40rem;
}
.box9 h1{
    font-weight: 500;
    font-size: 23px;
    padding: 1rem;
}
.box9 span{
    opacity: 0.7;
    padding: 1rem;
}
.box9 dl:nth-of-type(1){
  font-weight: 500;
  font-size: 14px;
  padding: 1rem;
}
.box9 dd:nth-of-type(1){
  font-size: small;
  opacity: 0.5;
  font-weight: 400;
}
.box9 dl:nth-of-type(2){
  font-weight: 500;
  font-size: 14px;
  margin: 0.1rem;
  margin-left: 1rem;
}
.box9 dd:nth-of-type(2){
  font-size: small;
  opacity: 0.5;
  font-weight: 400;
}
.box9 dl:nth-of-type(3){
  font-weight: 500;
  font-size: 14px;
  margin: 1rem;
  margin-left: 1rem;
}
.box9 dd:nth-of-type(3){
  font-size: small;
  opacity: 0.5;
  font-weight: 400;
}
.box9 dl:nth-of-type(4){
  font-weight: 500;
  font-size: 14px;
  margin: 1rem;
  margin-left: 1rem;
}
.box9 dd:nth-of-type(4){
  font-size: small;
  opacity: 0.5;
  font-weight: 400;
}
.box9 dl:nth-of-type(5){
  font-weight: 500;
  font-size: 14px;
  margin: 1rem;
  margin-left: 1rem;
}
.box9 dd:nth-of-type(5){
  font-size: small;
  opacity: 0.5;
  font-weight: 400;
}
.box9 p{
   opacity: 0.7;
   font-weight: 500;
   font-size: 16px;
   margin: 1rem;
   margin-left: 1rem; 
}
.box9 img:nth-of-type(1){
    margin: 1rem;
    margin-left: 1rem;
}
.box9 dl:nth-of-type(6){
  font-weight: 500;
  font-size: 14px;
  margin: -3.4rem;
  margin-left: 4rem;
}
.box9 img:nth-of-type(2){
    margin: 5rem;
margin-left: 1rem;
}
.box9 dl:nth-of-type(7){
  font-weight: 500;
  font-size: 14px;
  margin: -7.4rem;
  margin-left: 4rem;
}
.box9 img:nth-of-type(3){
margin: 9rem;
margin-left: 1rem;
}
.box9 dl:nth-of-type(8){
  font-weight: 500;
  font-size: 14px;
  margin: -11.4rem;
  margin-left: 4rem;
}
/* box 10 styling */
#ten{
    height: 15rem;
    width: 18rem;   
}
.box10 img{
 height: 100%;
 width: 100%;
 object-fit: fill;
 border-radius: 0.7rem;
}